@model Summary
<h2>Создание резюме</h2>

<form>
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label for="UserName">Имя </label><br />
        <input id="UserName" />
    </div>
    <div>
        <label for="Surname">Фамилия</label><br />
        <input id="Surname" />
    </div>
    <div>
        <label for="Category"></label><br/>
        <select asp-for="Category" asp-items="ViewBag.Categories" id="Category"></select>
    </div>
    <div>
        <label for="Salary">Ожидаемая зарплата</label><br />
        <input id="Salary" />
    </div>
    <div>
        <label for="City">Город</label><br />
        <input id="City" />
    </div>
    <div>
        <label for="Citizen">Гражданство</label><br />
        <input id="Citizen" />
    </div>
    <div>
        <label for="TgName">Укажите ваш телеграм</label><br />
        <input id="TgName" />
    </div>
    <div>
        <label for="LinkedInUrl">Укажите ссылку на ваш профиль в LinkedIn</label><br />
        <input id="LinkedInUrl" />
    </div>
    <div>
        <label for="FacebookUrl">Укажите ссылку на ваш профиль в Facebook</label><br/>
        <input id="FacebookUrl" />
    </div>
        <h6>Опыт работы</h6>
    <div id="works">
    </div>
        <div>
            <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">Добавить место работы</a>
        </div>
        <h6>Места учёбы</h6>
    <div id="educs">
    </div>
    <div>
        <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal2">Добавить место обучения</a>
    </div>
        <h6>Сертификаты</h6>
    <div id="certs">
    </div>
    <div>
        <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal3">Добавить сертификаты</a>
    </div>
    <div>
        <input type="submit" id="btnSaveData" value="Сохранить" />
    </div>
</form>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="name">Имя компании</label><br />
                    <input type="text" id="name" />
                </div>
                <div>
                    <label for="spec">Специальность</label><br />
                    <input type="text" id="spec" />
                </div>
                <div>
                    <input type="button" id="btnAddWork" value="Добавить" class="btn" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="name2">Имя учебного заведения</label><br />
                    <input type="text" id="name2" />
                </div>
                <div>
                    <label for="spec2">Специальность</label><br />
                    <input type="text" id="spec2" />
                </div>
                <div>
                    <input type="button" id="btnAddEdu" value="Добавить" class="btn" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="name3">Сертификат</label><br />
                    <input type="text" id="name3" />
                </div>
                <div>
                    <label for="spec3">Специальность</label><br />
                    <input type="text" id="spec3" />
                </div>
                <div>
                    <input type="button" id="btnAddCert" value="Добавить" class="btn" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@section scripts{

    <script>

        $(document).ready(function () {
            $("#btnAddWork").click(function () {
                AddWorkExp();
        
        });
            });
        $(document).ready(function () {
            $("#btnAddEdu").click(function () {
                AddEducation();
            });
            });
        $(document).ready(function () {
            $("#btnAddCert").click(function () {
                AddCertificate();
            });
            });
        $("#btnSaveData").click(function () {
            SaveData();
        });

        function AddWorkExp() {
            var workHtml = '<div class="card" style="width: 18rem;"><span class ="card-body">' + $("#name").val() + '<p class="card-text">' +$("#spec").val() + '</p>' + '</span> </div>';
            $("#works").last().append(workHtml);
            }
            function AddEducation() {
            var eduHTml = '<div class="card" style="width: 18rem;"><span class ="card-body">'+ $("#name2").val() + '<p class="card-text">' +$("#spec2").val() + '</p>' + '</span> </div>';
                $("#educs").last().append(eduHTml);
        }
            function AddCertificate() {
            var certHtml = '<div class="card" style="width: 18rem;"><span class ="card-body">' + $("#name3").val() + '<p class="card-text">' + $("#spec3").val() + '</p>' + '</span> </div>';
                $("#certs").last().append(certHtml);
        }
        function SaveData() {
            var ListOfWorks = new Array();
            var ListOfEdu = new Array();
            var ListOfCerts = new Array();
            var Summary = {};
            Summary.Name = $("#UserName").val();
            Summary.Surname = $("#Surname").val();
            Summary.City = $("#City").val();
            Summary.Citizen = $("#Citizen").val();
            Summary.Salary = $("#Salary").val();
            Summary.TgName = $("#TgName").val();
            Summary.Category = $("#Category").val();
            Summary.LinkedInUrl = $("#LinkedInUrl").val();
            Summary.FacebookUrl = $("#FacebookUrl").val();
            console.log(Summary);
            $("#works").find("div").each(function () {
                var Name = $(this).find("span").text();
                var Spec = $(this).find("p").text();
                var WorkExp = {};
                WorkExp.Name = Name;
                WorkExp.Spec = Spec;
                ListOfWorks.push(WorkExp);
            });
            $("#educs").find("div").each(function () {
                var Name2 = $(this).find("span").text();
                var Spec2 = $(this).find("p").text();
                var Graduation = {};
                Graduation.Name = Name2;
                Graduation.Spec = Spec2;
                ListOfEdu.push(Graduation);
            });
            $("#certs").find("div").each(function () {
                var Name3 = $(this).find("span").text();
                var Spec3 = $(this).find("p").text();
                var Certificate = {};
                Certificate.Name = Name3;
                Certificate.Spec = Spec3;
                ListOfCerts.push(Certificate);
            });

            $.post('@Url.Action("Create", "Summary")',
                {
                Summary: Summary,
                    ListOfWorks: ListOfWorks,
                    ListOfEdu: ListOfEdu,
                    ListOfCerts: ListOfCerts,
                    },
                    function (response) {
                        console.log(response)
                    
            });
        }
    </script>

}
